/* General Elements*/
body{
    background-color: teal;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
div{
	background-color: white;
	margin: 10px;
	width: 25%
}
div{
	padding: 10px;
}
h1, h3, span{
	font-weight: bold;
	text-align: center;
}
h1{
	font-size: 30pt;
}
ol{
	list-style: decimal inside; 
}
ul {
	list-style: disc inside;
	text-indent: 20px;
}
/* Specfic Elements*/
div.header{
    background-color: rgb(186, 186, 53);
    width: 50%;
    color: white;
} 
div.gems{
	background-color: white;
}
div.instructions{
    width: 50%;
    background-color: salmon;
    color: rgb(2, 89, 89);
}
/* Classes */
.numberToMatch, .winsAndLosses{
	float: left;
	width: 15%;
    height: 60px;
    background-color: aqua;
}
.userTotal{
	width: 15%;
    height: 60px;
    background-color: rgb(60, 60, 136);
}
.gems{
    clear: both;
    background-color:white;
}
.gemImage{
	height: 60px;
    margin: 10px;
    background-color: white;
}